<div id="adminWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Потребител</th>
                <th>Име</th>
                <th>Фамилия</th>
                <th>Роля</th>
                <th>Изтрий</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i;">
                <td>{{i + 1}}.</td>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user?.roles[0] || '-'}}</td>
                <td class="deleteBtn" (click)="delete(user._id)">X</td>
            </tr>
        </tbody>
    </table>
</div>