<div id="myRecipesWrapper">
  <input id="addRecipeBtn" type="button" class="btn btn-default" value="Добави рецепта" (click)="openAddRecipe()">

  <div class="col-sm-12" id="myRecipesContainer">
    <div *ngIf="recipes.length === 0">No more recipes availble!</div>
    <a *ngFor="let recipe of recipes" routerLink="/recipes/{{recipe._id}}">
      <figure class="col-sm-4">
        <img id="recipeImage" src={{recipe.image}} alt="No Image">
        <div id="recipeTitle">{{recipe.title}}</div>
        <input type="button" class="btn btn-default" value="Изтрий рецепта" (click)="deleteRecipe(recipe._id)">
      </figure>
    </a>
  </div>
  <div>
    <button class="btn btn-default" [disabled]="page === 1" (click)="prevPage()">Prev</button>
    <button class="btn btn-default" [disabled]="recipes.length === 0 || recipes.length < 6" (click)="nextPage()">Next</button>
  </div>
</div>