#myRecipesWrapper {
    margin-top: 100px;
    text-align: center;
}
#recipeImage {
    width: 90%;
    margin-left: 2%;
}
#recipeTitle {
    font-size: medium;
    margin: 10px 0px;
}
#addRecipeBtn {
    margin-bottom: 10px;
}
#myRecipesContainer {
    display: inline-block
}
#myRecipesContainer > a {
    margin-bottom: 20px;
}
figure {
    margin-bottom: 20px;
}