<div id="recipeDetailsWrapper" *ngIf="recipe">
  <span id="backBtn" class="glyphicon glyphicon-circle-arrow-left" (click)="goBack()"></span>
  <div>
    <div class="mainCapture" id="recipeTitle">{{recipe.title}}</div>
    <div>
      <img src={{recipe.image}} alt="No Image">
    </div>
    <br>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-2">
      <div class="capture">Съставки:</div>
      <div *ngFor="let ingredient of recipe.ingredients">
        {{ingredient}}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="capture">Начин на приготвяне:</div>
      {{recipe.preparation | censoreText : 'рулце'}}
    </div>
  </div>
</div>