<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Хапни БГ</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Рецепти
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="#">Салати</a>
          </li>
          <li>
            <a routerLink="#">Предястия</a>
          </li>
          <li>
            <a routerLink="#">Основни Ястия</a>
          </li>
          <li>
            <a routerLink="#">Десерти</a>
          </li>
          <li>
            <a routerLink="#">Препоръчани</a>
          </li>
          <li>
            <a routerLink="/recipes/my-recipes">Моите Рецепти</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="#">Напитки</a>
      </li>
      <li>
        <a routerLink="#">Контакти</a>
      </li>
    </ul>
    <span *ngIf="!authenticated">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/users/register">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li>
          <a routerLink="/users/login">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
    </span>
    <span *ngIf="authenticated">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/users/profile">{{username}}</a>
        </li>
        <li>
          <a routerLink="javascript:void(0)" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </span>
  </div>
</nav>