#mainRecipesWrapper {
    margin: 100px 50px;
    text-align: center;
}

#recipeImage {
    width: 90%;
    margin-left: 2%;
}

#recipeTitle {
    font-size: medium;
    margin: 10px 0px;
}

#mainRecipesContainer > a {
    margin-bottom: 20px;
}

figure {
    margin-bottom: 20px;
}