<div id="contactsWrapper">
	<div id="title">Връзка с нас</div>
	<form [formGroup]="contactsForm" novalidate>
		<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
			<mat-step>
				<ng-template matStepLabel>Вашите данни</ng-template>
				<mat-form-field [hideRequiredMarker]=true [floatLabel]="auto">
					<input matInput placeholder="Име" required formControlName="name">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Имейл" formControlName="email">
					<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
				</mat-form-field>
				<br>
				<div>
					<button mat-button matStepperNext mat-raised-button color="primary">Следващ</button>
				</div>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Детайли</ng-template>
				<mat-form-field [floatLabel]="auto">
					<input matInput placeholder="Причина" formControlName="subject">
				</mat-form-field>

				<mat-form-field>
					<input matInput [matDatepicker]="picker" placeholder="Дата" formControlName="date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>

				<mat-form-field [floatLabel]="auto" hintLabel="Максимум 160 символа">
					<input matInput placeholder="Съобщение" maxlength="160" formControlName="message" #input>
					<mat-hint align="end">{{input.value?.length || 0}}/160</mat-hint>
				</mat-form-field>

				<div class="selected-value">Тип обратна връзка</div>
				<mat-radio-group class="radio-group" formControlName="type">
					<mat-radio-button class="radio-button" *ngFor="let type of types" [value]="type">
						{{type}}
					</mat-radio-button>
				</mat-radio-group>
				<br>
				<div>
					<button mat-button matStepperPrevious mat-raised-button color="primary">Предишен</button>
					<button mat-button matStepperNext mat-raised-button color="primary">Следващ</button>
				</div>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Оценка</ng-template>
				<div class="selected-value">Оценете сайта</div>
				<mat-slider [thumb-label]=true formControlName="mark"></mat-slider>
				<br>
				<div>
					<button mat-button matStepperPrevious mat-raised-button color="primary">Предишен</button>
					<button type="submit" id="finalBtn" mat-raised-button color="primary" [disabled]="!contactsForm.valid" (click)="onSubmit()">Потвърди</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>
	</form>
</div>