#contactsWrapper {
    margin-top: 70px;
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    width: 33%;
}

#title {
    text-align: center;
    font-size: large;
}

.alert {
    padding: 10px;
}
  
mat-form-field {
    width: 100%;
}

.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}

mat-slider {
    width: 50%;
}

#finalBtn{
    float: right;
}