#allBeveragesWrapper {
    margin: 100px 50px;
    text-align: center;
}

#beverageImage {
    width: 90%;
    margin-left: 2%;
}

#addBeverageBtn {
    margin-bottom: 10px;
}

#beverageTitle {
    color: black;
}

figure {
    margin-bottom: 50px;
}