<div id="addBeverageWrapper">
  <form [formGroup]="beverageForm" (ngSubmit)="onSubmit()" novalidate>
    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="!beverageForm.valid" class="btn btn-default">Запазване</button> &nbsp;
      <button type="reset" (click)="revert()" [disabled]="!beverageForm.valid" class="btn btn-default">Нулиране</button>
    </div>

    <div class="form-group">
      <label class="center-block">Име:
        <input class="form-control" formControlName="name">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Подготовка:
        <input class="form-control" formControlName="preparation">
      </label>
    </div>
    <div class="form-group radio">
      <h4>Време за подготовка:</h4>
      <label class="center-block">
        <input type="radio" formControlName="preparationTime" value="5">5</label>
      <label class="center-block">
        <input type="radio" formControlName="preparationTime" value="10">10</label>
      <label class="center-block">
        <input type="radio" formControlName="preparationTime" value="15">15</label>
    </div>
    <div class="form-group">
      <label class="center-block">Съставки:
        <input class="form-control" formControlName="ingredients">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Снимка:
        <input class="form-control" formControlName="image">
      </label>
    </div>
  </form>
</div>