$margin-bottom: 20px;

#allPostsWrapper {
	margin: 100px 50px;
	text-align: center;  
	#content {
		width: 40%;
		display: inline;
	}
	#allPostsContainer {
		#postContent {
			font-size: medium;
			margin: 10px 0px;
		}

		a {
			margin-bottom: $margin-bottom;
		}

		figure {
			margin-bottom: $margin-bottom;
		}
	}
	#navigation {
		margin-top: 50px;
	}
	#message {
		color: red;
	}
}
