<div id="allPostsWrapper">
    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
        <input type="text" class="form-control" id="content" required [(ngModel)]="model.content" name="content" #content="ngModel">
        <button type="submit" class="btn btn-default" [disabled]="!recipeForm.form.valid">Потвърди</button>
    </form>
    <div id="message">{{message}}</div>
    <div id="allPostsContainer">
        <div *ngIf="posts.length === 0">No more posts available!</div>
        <post *ngFor="let post of posts" [post]="post" (onComment)="onComment($event)" (onLike)="onLike($event)" (onDelete)="onDelete($event)"></post>
    </div>
    <div id="navigation">
        <button class="btn btn-default" [disabled]="page === 1" (click)="prevPage()">Prev</button>
        <button class="btn btn-default" [disabled]="posts.length === 0 || posts.length < 6" (click)="nextPage()">Next</button>
    </div>
</div>